# =========================
# General
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# =========================
# IDEs
# =========================
*.iml
*.ipr
*.iws
.idea/

# Ignore personal configs
.vscode/settings.json
.vscode/extensions.json

# Keep these for reproducibility
!.vscode/launch.json
!.vscode/tasks.json


# =========================
# Flutter/Dart
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Generated plugin registrants
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake

# =========================
# Android
# =========================
**/android/.gradle/
**/android/captures/
## Keep Gradle wrapper committed for reliable builds
# (do not ignore gradle-wrapper.jar, gradlew, gradlew.bat)
# contains local SDK paths
**/android/local.properties
# keep signing keys out of Git
**/android/key.properties
**/android/.idea/
**/android/app/debug
**/android/app/profile
**/android/app/release
.gradle/

# =========================
# iOS/macOS
# =========================
**/ios/.generated/
**/ios/Flutter/.symlinks/
**/ios/Pods/
**/ios/.idea/
**/ios/.vscode/
**/ios/Runner.xcworkspace/
**/ios/Runner.xcuserstate
**/ios/Runner.xcuserdata/
**/ios/profile
**/ios/debug
**/ios/Release
*.xcuserstate
*.xcscmblueprint

**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Runner.xcworkspace/
**/macos/Runner.xcuserstate
**/macos/Runner.xcuserdata/

# =========================
# Windows/Linux
# =========================
**/windows/Flutter/ephemeral/
**/windows/.vs/
**/windows/x64/
**/windows/x86/
**/windows/arm64/
**/windows/Debug/
**/windows/Release/

**/linux/Flutter/ephemeral/
**/linux/.vs/
**/linux/x64/
**/linux/Debug/
**/linux/Release/

# =========================
# Symbolication & Obfuscation
# =========================
app.*.symbols
app.*.map.json

# ignore Flutter ephemeral plugin symlink folders
**/flutter/ephemeral/

# =========================
# Environment Variables
# =========================

.env
.env.* 